---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageName="About">
  <h1>About</h1>
  <p>Hey, I'm Sandy. Welcome to my little corner on the web.</p>
  <p>
    I'm currently based in the Frankfurt metropolitan area, though
    &quot;home&quot; has been many places over the years, including Taipei,
    Vancouver, Montreal, Dubai, and Budapest.
  </p>
  <p>
    The job titles I've held in recent years have been along some variation of
    Frontend/Software&nbsp;Engineer/Developer, though to be perfectly honest I
    don't put too much stock into job titles. In my own words: I write software
    for human beings and naturally gravitate towards solving problems that
    impact user experience. Most of the time this falls in the frontend realm,
    but really &mdash; who's drawing lines?
  </p>
  <p>
    I like rainy days, sci-fi/spec-fic books, and exploring the intersection of
    coding and creativity. I am a serial DIY-er with a bad case of "I bet I can
    make that" syndrome. I love
    <a href="https://personalsit.es/with-feed/" target="_blank" rel="noreferrer"
      >websites with RSS feeds</a
    >
    and websites that exist
    <a
      href="https://robinrendle.com/notes/i-am-a-poem-i-am-not-software/"
      target="_blank"
      rel="noreferrer">just</a
    >
    <a href="http://endless.horse/" target="_blank" rel="noreferrer">because</a
    >. I have a tendency to over-use — and often misuse — the em dash, and I'm a
    firm believer of the Oxford comma.
  </p>
  <p>
    You can find me on
    <a href="https://github.com/kuosandys" target="_blank" rel="noreferrer">
      GitHub
    </a>
    or in a squishy armchair with my fingers tangled in yarn.
  </p>
</BaseLayout>
