---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Hey, I'm Sandy.</h1>
  <p>
    Welcome to my little corner on the web.
  </p>
  <p>
    This site is currently under construction &mdash; check back at some point
    in the future for something hopefully more interesting to look at.
  </p>
</BaseLayout>
