---
const year = new Date().getFullYear();
---

<footer>
  <p>&copy; {year} Sandy S. Kuo</p>
</footer>

<style>
  footer {
    display: flex;
    font-size: x-small;
    justify-content: space-between;
    padding-top: var(--space-m-l);
  }
</style>
