<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/images/favicon-light.png" rel="icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=IBM+Plex+Mono:wght@500&display=block"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/main.css" />
    <title>{% if title %} {{ title }} &mdash; {% endif %} Sandy S. Kuo </title>
  </head>
  <body>

  <header>
    <nav>
      <ul class="menu">
      {%- for item in menuItems -%}
        <li>
          <a href="{{ item.url }}" class="menu__link" {% if page.url == item.url %} aria-current="page" {% endif %}>{{ item.title }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2023 Sandy S. Kuo</p>
  </footer>

  </body>
</html>
